
<div class="mt-4">
    <div class="row">
        <h1>Danh sách
            
            {{#if book.admin}}
            <a href="/book/create" class="btn btn-primary" id="add" role="button">Thêm</a>
            {{else}}
            <a href="/login" class="btn btn-primary" id="login" role="button">Đăng nhập</a>
            {{/if}}
        </h1>

        {{!-- <div class="navbar w-100 p-3 ">
            <img src="{{this.path}}" alt="..." class="rounded img">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.type}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>


        </div> --}}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col">Ngày phát hành</th>
                    <th scope="col">Số trang</th>
                    <th scope="col">Tùy chọn</th>
                </tr>
            </thead>

            <tbody>
                {{#each book}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.author}}</td>
                    <td>{{this.type}}</td>
                    <td>{{formatDate @this.releaseDate}}</td> 
                    {{!-- <td>{{this.releaseDate}}</td> --}}
                    <td>{{this.numberOfPages}}</td>
                    
                    <td class="d-flex flex-row">
                        
                        <a href="/book/update/{{this._id}}" class="btn btn-primary" id="update" role="button">Sửa</a>
                        {{!-- <a href="button" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete">Xóa</a> --}}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Xóa
                        </button>
                        
                    </td> 
                </tr>
                
                {{/each}}
            </tbody>


        </table>

    </div>
</div>


{{!-- comform --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chú ý</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa sách này
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>


{{!-- delete form--}}
<form method="post" name="delete-course-form" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var bookId;
        var deleteForm = document.forms['delete-course-form']
        var bt = document.getElementById('exampleModal')

        $('#delete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            bookId = button.data('id');
            console.log('id', book)
        
        })

        
        bt.onclick = function() {
            
            deleteForm.action = '/book/'+bookId + '?_method=DELETE';
            deleteForm.submit()
        }
    })
    
</script>